<%= render "shared/header" %>

<div class="explain">
 <%= link_to image_tag("cat.jpg", class:"dog-image") %>
<ul class="explain-texts">
<li class="explain-text">1.  登録して、飼っているペットの情報を記入！</li>
<li class="explain-text">2.  可愛いペットの写真、約立つ情報を交換できる！</li>
<li class="explain-text">3.  もちろん、他の飼い主とペットと一緒に散歩へ行きましょう！</li>
</ul>
</div>
<h2 class="heading-name">登録されているペット</h2>

<div class='pet-contents'>
<ul class='pet-lists'>
      <% @pets.each do |pet| %>
      <li class='list'>
        <%= link_to pet_path(pet.id) do %>
        <div class='pet-img-content'>
          <%= image_tag pet.image, class: "pet-img"%>
     </div>
        <div class='pet-info'>
          <h3 class='pet-name'>
            <%= pet.pettype %>:<%= pet.name %>
          </h3>
        </div>
        <% end %>
         </li>
    <% end %>
 </ul>
</div>

<%= render "shared/footer" %>


