<%= render "shared/header" %>

 <div class='pet-contents'>
    <div class="subtitle" >
     <%= @nickname %>さんのペット
    </div>
    
    <ul class='pet-lists'>
      <% @pets.each do |pet| %>
      <li class='list'>
        <%= link_to pet_path(pet.id) do %>
        <div class='pet-img-content'>
          <%= image_tag pet.image, class: "pet-img"%>
        </div>
        <div class='pet-info'>
          <h3 class='pet-name'>
            <%= pet.name %>
          </h3>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>

 <% if @pets.blank? then %>
      ...まだペットを飼っていません...
   <% end %>   
</div>

<div class="contents row">
  <% @posts.each do |post| %>
    <div class="content_post" > 
   
    <span class="post-title">
        <%= post.post_title %>
           
      </span> <br>     by <a class= "user-pet" href="/users/<%= post.user.id %>"><%= post.user.nickname %>    </a>
      <p class="post-texts"><%= post.post_text %></p>
           <%= link_to "詳細", post_path(post.id) %>
    </div> 
    
  <% end %>
</div>


<%= render "shared/footer" %>